/*------1. GENERAL STYLES------*/
html {
  font-size: 22px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: 2rem;
  }
}
@media screen and (min-width: 992px) {
  html {
    font-size: 1rem;
  }
}

body{
  color:#F1F3F8;
  background-color:#1D1F20;
  font-size:16px;
  font-family: 'Alegreya', serif;
  overflow-x: hidden;
  margin:0;
}

h1 {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 2rem;
  font-weight: bold;

}

h2{
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 1.5rem;
}

h3{
  font-family: 'Alegreya', serif;
  font-size: 1.1rem;
}

p{
  font-family: 'Alegreya', serif;
  font-size:1rem;
}

a{
  text-decoration: none;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 1.3rem;
  color:#F1F3F8;

}

/*----STRUCTURAL STYLES-----*/

.container{
  width: 100vw;
  /*height: 100vh;*/
}

header{
  margin:3rem auto;
  max-width: 70%;
  text-align: center;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header .header-title{
  padding-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.main{
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }



@media screen and (min-width: 992px){
  .main{
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap:5%;
}

.photo{
  margin:0 auto;
  grid-column:1 / 2;
  width:100%;
  height: auto;
}

.info{
  margin:0 auto;
  grid-column:2 / 3;
  width:100%;
  height: auto;
}

}


/*-----BACK BUTTON-----*/

.back-home{
  position: fixed;
  top:2%;
  left:1rem;
  width:4rem;
  height: 4rem;
  background-color:rgba(255,140,0,1);
  border-radius: 50%;
  padding: 0.4rem;
  transition:all 0.3s ease;
}

.back-home:hover{
  background-color:rgba(255,140,0,0.8);
  border:2px solid #F1F3F8 ;

}

.back-home:active{
  background-color:rgba(255,140,0,0.4);

}

.back-home a{
font-size: 3rem;
}

/*-----FAQ SECTION----------*/
.faq-container{
  max-width:85%;
  margin:0 auto;
}

.faq {
  background-color:transparent;
  border: 1px solid rgba(255,140,0,1);
  border-radius: 10px;
  margin:1rem 0;
  padding:1.6rem;
  position:relative;
  overflow:hidden;
  transition:0.3s ease;
  color: #F1F3F8;
}

.faq.active{
  background:#F1F3F8;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
}

.faq.active::before,
.faq.active::after {
  content: '\f1c9';
  font-family: 'Font Awesome 5 Free';
  color:rgba(255,140,0,1);
  font-size: 7rem;
  position: absolute;
  opacity: 0.2;
  top:1rem;
  left: 1rem;
  z-index: 0;
}

.faq.active::before{
  color:rgba(255,140,0,0.5);
  top: -0.55rem;
  left: -1.66rem;
  transform:rotateY(180deg);
}

.faq-title{
  margin:0 1.9rem 0 0;
  color: #F1F3F8;;
  cursor: pointer;
}

.faq.active .faq-title{
  color:#1D1F20;
}

.faq-text{
  margin: 1.66rem 0 0;
  display: none;
}

.faq.active .faq-text{
  display:block;
  color: #1D1F20;
}

.faq-toggle {
  background:transparent;
  color:#F1F3F8;
  border:0;
  border-radius:50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:1.3rem;
  padding: 0;
  position: absolute;
  top: 30px;
  right: 30px;
  height: 30px;
  width: 30px;
}

.faq-toggle:focus{
  outline:0;
}

.faq.active .fag-toggle{
  background:gray;
}

.faq-toggle .fa-times{
  display:none;
}
.faq.active .faq-toggle .fa-times{
  display:block;
  color: #1D1F20;
}

.faq.active .faq-toggle .fa-chevron-down{
  display:none;
}

/*------PHOTO SECTION--------*/

.photo-container{
  margin:0 auto;
  width: 60%;
  height: 200px;
  overflow: hidden;
  position:relative;
}

.photo-container h2{
  position:absolute;
  top:-1.66rem;
  /*left:30px;*/
}
.photo-container img{
  max-width: 100%;
  border-radius: 50%;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 1);
}


/*------FOOTER STYLE--------*/
footer{
  display: flex;
  justify-content: space-between;
}

.social-links{
  list-style: none;
  padding-left: 0;
}

.social-links li {
  display: inline;
  padding: 0.5rem;
}

.social-links .fab{
  color: #F1F3F8;
  font-size: 2rem;
}

footer .signature{
  padding-right: 3%;
}

footer .signature p{
  font-size:0.8rem;!important
}

