/*------1. GENERAL STYLES------*/
html {
  font-size: 70%; }

body{
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  color:#F1F3F8;
  background-color:#1D1F20;
  font-family: 'Alegreya', serif;
  overflow-x: hidden;
  margin:0;
}
/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300; }
h1 { font-size: 4.0rem; line-height: 1.2;  letter-spacing: -.1rem; font-family: 'Merriweather Sans', sans-serif;}
h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; font-family: 'Merriweather Sans', sans-serif; }
h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; font-family: 'Alegreya', serif;}
h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; font-family: 'Alegreya', serif; }
h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; font-family: 'Alegreya', serif;}
h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }

/* Larger than phablet */
@media (min-width: 550px) {
  h1 { font-size: 4.2rem; }
  h2 { font-size: 3.6rem; }
  h3 { font-size: 3.0rem; }
  h4 { font-size: 2.4rem; }
  h5 { font-size: 1.5rem; }
  h6 { font-size: 1.2rem; }
}

p {
  margin-top: 0; }


a{
  text-decoration: none;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 2.4rem;
  color:#F1F3F8;

}

a:hover {
  color: #C0FDFB;
}

/*------2. STRUCTURAL MOBILE STYLES(max-width 992px)-------*/

.page-container{
  position: relative;
  min-height: 100vh;
}

.wrapper{
  padding-bottom: 2.5rem;    /* Footer height */
}


.nav-btn{
  border:none;
  background:transparent;
  cursor:pointer;
  font-size:3.5rem;
  color: #F1F3F8;
}
.circle{
  width: 10rem;
  height: 10rem;
  background:rgba(255,140,0,0.8);
  border-radius: 50%;
  position:fixed;
  top:-3.33rem;
  left:-3.33rem;
}
.open-btn{
  position:fixed;
  top:1rem;
  left:1rem;
}

.nav{
  position: fixed;
  overflow:scroll;
  top:0;
  left:0;
  height: 100vh;
  transform:translateX(-100%);
  transition:0.4s linear;
  z-index: 100;
}

.nav.visible{
  transform:translateX(0);
}

.nav-orange{
  background:rgba(255,140,0,0.6);
  width:60%;
  max-width:27.5rem;
  min-width: 16rem;
}

.nav-black{
  background:#1D1F20;
  width:95%;
  padding:2.22rem 0;
  position:relative;
}

.close-btn{
  position:absolute;
  top:1rem;
  right:3.75rem;
  opacity:0.3;
}

.list{
  list-style: none;
  margin-top:2rem;

}

.list li{
  margin:3rem 0;
  font-size: 1.3rem;
  text-decoration: none;
  text-transform: uppercase;
  padding-bottom:2rem;
  border-bottom: 2px solid rgba(241,243,248,0.1);
}

.list li a {
  color:whitesmoke;
  margin-left:1rem;
  font-size: 1.3rem;
  text-decoration: none;
  text-transform: uppercase;
}

.projects-sub{
  transition:all ease 2s;
}

.projects-sub ul{
  list-style:none;
  display:none;
  transition:all ease 2s;
}

.projects-sub li{
  margin:1rem 0;
  font-size: 0.5rem;
  text-decoration: none;
  text-transform: uppercase;
  padding-bottom:1rem;
  border-bottom: 1px solid rgba(241,243,248,0.1);
}

.projects-sub.active ul{
  list-style:none;
  display:block;
}

/*-----STRUCTURAL STYLES MOBILE-----*/

#welcome-section{
  margin:0;
  height: 100vh;
  width:100%;
  background-image:linear-gradient( rgba(29,31,32,0.8), rgba(29,31,32,0.8)  ),url("../images/oiseauparadis.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10% 0;

  }

.intro{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}


#projects{
  /*visibility: hidden;*/
  height: 100vh;
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-tile {
  margin: 1.5rem 0;
  position: relative;
}

.project-tile a {
  font-family: 'Alegreya', serif;!important
  font-size: 2rem;!important

}


.project-tile .icon-tools{
  display: none;
  height: 0;
  overflow: hidden;
  transition: height 5s ease-in-out;

}


.icon-tools ul{
  list-style: none;
}
.icon-tools ul li{
  display: inline;
  margin:0 0.5rem;
}
.icon-tools ul li img{
  height: 1.5rem;
  width: 1.5rem;
}

footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

}

/*------3. STRUCTURAL STYLES DESKTOP------*/

@media only screen and (min-width:992px){


  .page-container{
  position:relative;
  min-height: 100vh;

  }

  .wrapper{
  width:100%;
  background-image:linear-gradient( rgba(29,31,32,0.8), rgba(29,31,32,0.8)  ),url("../images/oiseauparadis.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-columns:1fr 1fr;
  grid-column-gap:5%;
  padding-bottom: 2.5rem;
  }

  #welcome-section{
    margin:0;
    grid-column: 1 / 2;
    background-image:none;
    padding: 0;
    justify-content: center;
  }

  #projects{
    /*visibility:visible;*/
    grid-column:2 / 3;
    justify-content: center;
  }

  .project-tile .icon-tools{
  display: none;
  height: 0;
  overflow: hidden;
  transition: height 5s ease-in-out;

}

  .project-tile.slide .icon-tools{
  display: block;
  position: absolute;
    left: 33.33rem;
    width: 33.33rem;
    height: 6.66rem;
    margin-bottom:1rem;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 0.5s;
    animation: slide 0.7s forwards;
    animation-delay: 0.2s;
}



@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide{
    100% { left: 0; }
}


.icon-tools ul{
  list-style: none;
}
.icon-tools ul li{
  display: inline;
  margin:0 0.5rem;
}
.icon-tools ul li img{
  height: 1.5rem;
  width: 1.5rem;
}



  footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    background-color:transparent;
  }

}


/*------4. COMPONENTS------*/

.main-buttons{
  position:relative;
}

.btn-primary{
  font-size:2rem;
  text-decoration: none;
  text-align: center;
  padding: 1.5rem 1.5rem;
  border-radius: 3.125rem;
  opacity: 1;
  transition: all 0.3s ease;
  cursor: pointer;
  position: absolute;
  background:rgb(234, 235,235);
  color:#1D1F20;
  width:15rem;
  height:2rem;
  top:16.67rem;
  right:-7.22rem;
  -webkit-animation: slideup 0.5s forwards;
  -webkit-animation-delay: 0.5s;
    animation: slideup 1.5s forwards;
    animation-delay: 0.5s;
}

@-webkit-keyframes slideup {
    0% { top: 16.67rem; }
}


@keyframes slideup{
    100% { top: 0; }
}


.btn-primary:hover {
  background: rgba(255,140,0,0.8);
  color:#F1F3F8;
}



/*7. FOOTER STYLES*/

.social-links{
  list-style: none;
  padding-left: 0;
}

.social-links li {
  display: inline;
  padding: 0.5rem;
}

.social-links .fab{
  color: #F1F3F8;
  font-size: 2rem;
}

footer .signature{
  padding-right: 3%;

}

footer .signature p{
  font-size:0.8rem;!important
}









