/*------1. GENERAL STYLES------*/

/*html, body {
  font-size: 18px;
}*/
/*@media screen and (min-width: 320px) {
  html {
    font-size: 2rem;
  }
}
@media screen and (min-width: 992px) {
  html {
    font-size: 1rem;
  }
}
*/
body{
  color:#F1F3F8;
  background-color:#1D1F20;
  font-size:18px;
  font-family: 'Alegreya', serif;
  overflow-x: hidden;
  margin:0;
}

h1 {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 2rem;
  font-weight: bold;

}

h2{
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 1.5rem;
  letter-spacing: .1rem;
  word-spacing: 0.2rem;
}

h3{
  font-family: 'Alegreya', serif;
  font-size: 1.3rem;
}

p{
  font-family: 'Alegreya', serif;
  font-size:1rem;
  letter-spacing: .1rem;
  line-height: 1.8;
}

a{
  text-decoration: none;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 1.5rem;
  color:#F1F3F8;

}



/*----STRUCTURAL STYLES-----*/

.container{
  width: 100vw;
  /*height:100vh;*/
  /*margin:0 auto;*/
}

header{
  margin:3rem auto;
  max-width: 70%;
  text-align: center;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header .header-title{
  padding-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

header img{
  max-width: 20%;
  height:auto;
  /*display: block;*/
}

header a{
  text-decoration: none;
  border-bottom: #F1F3F8 0.125em solid;
  color: rgba(255,140,0,1);
}
header a:hover{
  text-decoration: none;
  color: rgba(255,140,0,1);
  border-bottom:none;
}

.back-home{
  position: fixed;
  top:2%;
  left:1rem;
  width:4rem;
  height: 4rem;
  background-color:rgba(255,140,0,1);
  border-radius: 50%;
  padding: 0.4rem;
  transition:all 0.3s ease;
}

.back-home:hover{
  background-color:rgba(255,140,0,0.8);
  border:2px solid #F1F3F8 ;

}

.back-home:active{
  background-color:rgba(255,140,0,0.4);

}

.back-home a{
font-size: 3rem;
}


.description{
  display:grid;
  grid-template-columns: 1fr
  margin:5% 5%;
  padding: 5%;
}

.features{
  display:grid;
  grid-template-columns: 1fr
  margin:5% 5%;
  padding: 5%;
}

.description-text{
  text-align: center;
}

.description-img{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top:3%;
}
.description-img img{
  max-width: 30%;
  height: auto;
  margin:0 auto;
  transition:all 0.5s ease;
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}

.description-img img:hover{
  transform:scale(1.5);
}


@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

.features-img{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 3%;
}
.features-img img{
  max-width: 30%;
  height: auto;
  margin:0 auto;
  transition:all 0.5s ease;
  animation: fadeIn ease 10s;
  -webkit-animation: fadeIn ease 10s;
  -moz-animation: fadeIn ease 10s;
  -o-animation: fadeIn ease 10s;
  -ms-animation: fadeIn ease 10s;
}

.features-img img:hover{
  transform:scale(1.5);
}

.features-img img#spotitunes-img{
  max-width: 75%;
}

.features-text ul{
  list-style:none;
  font-size:1rem;
  letter-spacing: .1rem;
  line-height: 1.2;
  padding-inline-start: 0;
}

.features-text ul li{
  margin-bottom:.8rem;
}

.features-text ul li .fa-rocket{
  margin-right:1rem;
}

@media only screen and (min-width:992px){

.description{
  margin:5% 5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap:5%;
}

.description-text{
    grid-column: 1 / 2;
    background-image:none;
    padding: 0;
    justify-content: center;
  }

 .description-img{
    grid-column:2 / 3;
    justify-content: center;
  }

.features{
  margin:5% 5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap:5%;
}

.features-text{
    grid-column: 2 / 3;
    background-image:none;
    justify-content: center;
    order:2;
  }

 .features-img{
    grid-column:1 / 2;
    /*justify-content: center;*/
    order: 1;
  }
}




/*------FOOTER STYLE--------*/
footer{
  display: flex;
  justify-content: space-between;
}

.social-links{
  list-style: none;
  padding-left: 0;
}

.social-links li {
  display: inline;
  padding: 0.5rem;
}

.social-links .fab{
  color: #F1F3F8;
  font-size: 2rem;
}

footer .signature{
  padding-right: 3%;
}

footer .signature p{
  font-size:0.8rem;!important
}







